<%- include('header') -%>
<h1>About Mara Todo List App</h1>
<p>I seriously have nothing to say other than the fact that it is a todo list application butilt with EJS templates and express server</p>
<%- include('footer') -%>